body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 30px;
}

.add-task-container {
  padding-bottom: 30px;
  box-shadow: rgba(27, 31, 35, 0.04) 0px 2px 0px;
}

#add-task-button {
  padding: 20px 100px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: rgb(118, 118, 228);
  color: white;
  font-weight: bold;
}

.task {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 20px 0;
}

.task-checkbox {
  cursor: pointer;
}

.task-title {
  font-size: 25px;
}
