body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 30px;
}

.add-task-container {
  box-shadow: rgba(27, 31, 35, 0.04) 0px 2px 0px;
  padding: 0 100px 30px 100px;
}

#title-input {
  text-align: center;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  padding: 10px;
  margin: 10px;
}

#add-task-button {
  padding: 20px 100px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  background-color: rgb(118, 118, 228);
  color: white;
  font-weight: bold;
}

.field {
  margin: 20px 0;
}

.description-field {
  display: flex;
  flex-direction: column;
}

.tasks-container {
  padding: 0 100px;
}

.task {
  margin: 20px 0;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.task-expanded {
  background-color: aliceblue;
}

.task:hover {
  background-color: rgb(222, 231, 238);
}

.task-top-section {
  display: flex;
  align-items: center;
  gap: 30px;
}

.task-checkbox {
  cursor: pointer;
}

.task-title {
  font-size: 25px;
}

.hidden {
  display: none;
}
